{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.md",
			"options": { "embeddedLanguageFormatting": "off" }
		}
	]
}
